table {
  width: 100%;
  box-shadow: none !important;
}

.value-cell {
  display: flex;
  align-items: center;
}

mat-icon {
  cursor: pointer;
}

.highlight-on-hover:hover {
  background-color: #f0f0f5;
}

th {
  text-transform: capitalize;
}

td[class*=' mat-column'] {
  width: 10vw;
  min-width: 10vw;;
  max-width: 10vw;
}

.mat-cell, .mat-header-cell {
  padding: 10px;
}

.vertical-separator {
  border-left: 1px solid #f0f0f5;
}

td div {
  word-break: break-all;
}

.actions {
  text-align: right;
  width: 250px;

  button {
    margin: 0 !important;
    padding: 0 10px;
    min-width: unset;
    &:last-child {
      margin-right: -10px !important;
    }
  }
}

.link {
  cursor: pointer;
}
