.container {
  mat-card {
    margin: 10px;
    padding: 0;
  }
}
.table-actions {
  mat-form-field {
    width: 90%;
  }
  .actions {
    text-align: right;
    button {
      margin-left: 8px;
      margin-top: 10px;
    }
  }
}
