<ion-header>
  <mat-card class="profile">
    <mat-card-header>
      <mat-card-title>{{translate('Menu Manage')}}</mat-card-title>
      <!--<mat-card-subtitle>前端开发工程师 <span>高级</span></mat-card-subtitle>-->
    </mat-card-header>
  </mat-card>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <mat-card>
      <mat-card-content>
        <app-form [(form)]="form" [keys]="keys" [selector]="selector"></app-form>
        <!--<form *ngIf="keys" [formGroup]="form">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let item of keys" [size]="item.attributes.type === 'text' || item.attributes.type === 'richtext' ? 12 : 6">
                <mat-form-field [floatLabel]="'always'" *ngIf="item.attributes.type === 'string'" appearance="outline" class="full-width">
                  <mat-label>{{translate(item.key)}}</mat-label>
                  <input [formControlName]="item.key" matInput [required]="item.attributes.required">
                </mat-form-field>
                <mat-form-field [floatLabel]="floatLabelType" *ngIf="item.attributes.type === 'integer'" appearance="outline" class="full-width">
                  <mat-label>{{translate(item.key)}}</mat-label>
                  <input [formControlName]="item.key" type="number" matInput [required]="item.attributes.required">
                </mat-form-field>
                <mat-slide-toggle *ngIf="item.attributes.type === 'boolean'" [formControlName]="item.key" matInput [required]="item.attributes.required">{{form.get(item.key).value ? '显示' : '隐藏'}}!</mat-slide-toggle>
                <mat-form-field [floatLabel]="floatLabelType" *ngIf="item.attributes.type === 'text'" appearance="outline" class="full-width">
                  <mat-label>{{translate(item.key)}}</mat-label>
                  <textarea [formControlName]="item.key" matInput [required]="item.attributes.required"></textarea>
                </mat-form-field>
                <mat-form-field [floatLabel]="floatLabelType" *ngIf="item.attributes.type === 'media'" appearance="outline" class="full-width">
                  <mat-label>{{translate(item.key)}}</mat-label>
                  <input [formControlName]="item.key" matInput [required]="item.attributes.required">
                </mat-form-field>
                <mat-form-field [floatLabel]="floatLabelType" *ngIf="item.attributes.type === 'relation'" appearance="outline" class="full-width">
                  <mat-label>{{translate(item.key)}}</mat-label>
                  <mat-select [formControlName]="item.key" [required]="item.attributes.required" [multiple]="item.attributes.relationType === 'oneToMany' || item.attributes.relationType === 'manyWay'">
                    <mat-option value="">无</mat-option>
                    <mat-option *ngFor="let option of selector[item.key]" [value]="option.id">{{option['name_' + lan]}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <ng-container *ngIf="item.attributes.type === 'richtext'">
                  <mat-label>{{translate(item.key)}}</mat-label>
                  <md-editor [options]="{showPreviewPanel:false,max:2000}"
                             [upload]="doUpload"
                             [formControlName]="item.key"
                             [height]="'400px'"
                             [required]="item.attributes.required"
                             maxlength="2000">
                  </md-editor>
                </ng-container>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>-->
      </mat-card-content>
    </mat-card>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="save()">{{translate('save')}}</ion-button>
  </ion-toolbar>
</ion-footer>
